.taskbar{
    width: 20%;
    height: 80px;
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: flex-start;
    color: white;
    align-items: center;
    z-index: 10000;

}
.taskbar .icons{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.taskbar .icons .icon img{
    width: 40px;
    height: 40px;
    
}
 .icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 10;
transition: all 0.7s;
    cursor: pointer;
    position: relative;
    align-items: center;
}
.taskbar .icons .icon::before{
    position:absolute;
    content: '';
    top: -2px;
    left: -2px;
    width: 0px;
   height: 0px;


z-index: -1;
}
.taskbar .icons .icon:after{
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    background: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(12px);
    z-index: -1;
    height: 60px;
    width: 60px;
}
 .icon:hover{
    background:  linear-gradient(90deg, rgb(121, 194, 223) 0%, rgba(87, 199, 133, 1) 55%, rgba(237, 172, 107, 1) 99%);
    
}
.hidentext{
    display: none;
}
.popups{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-left: auto;
    flex-direction: column;
    margin-right: 15px;
    height: 115%;
    z-index: 10;
    position: relative;
    gap: 2px;
    padding-bottom: 1px;
}
.popups .bns{
    padding-right: 6px;
   
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 100000000;
    position: relative;
 
    transition: all 0.4s;
    height:40px;
}
.popups .bns:hover{
   background-color: white;
   color: black;
}

.hidenicon{
    width: 0px;
    height: 0px;
    background: white;
    margin-left: -2px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hidenicon img{
    width: 0px;
    height: 0px;
}
.bns span{
    margin-left: 10px;
}

.bns:hover .hidenicon{
    width: 40px;
    height: 40px;
}
.bns:hover .hidenicon img{
    width: 30px;
    height: 30px;
}







.body-center{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(/luthfi-alfarizi-5_lU_q5EOe4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.form .title{
    position: relative;
   
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=68f9b8&c2=63e249&gt=l&gd=dtl
*/
background: #68F9B8;
background: linear-gradient(135deg, #68F9B8, #63E249);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: banana;
    animation-duration:1.9s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes banana{
    0%{
        background-position: 20px -40px;
    }
    40%{
        background-position: 100px 0px;
    }
    100%{
        background-position: 201px 20px;
    }
}
.code{
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: row;
   
}
.code .codes{
    width: 70px;
    height: 70px;
    margin: 0;
    border-right: 1px solid black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code .codes:nth-child(1){
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.code .codes:nth-child(6){
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.code .codes input{
    width: 90%;
    height: 90%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.codes.active{
    background: linear-gradient(rgba(255, 255, 255, 0.767),rgba(255, 255, 255, 0.664),rgba(255, 255, 255, 0.527),rgba(255, 255, 255, 0.959));
    backdrop-filter: blur(2px);
}
.codes.active input{
    background: transparent;
}
.clock{
    position:relative;
   
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background: linear-gradient(rgba(255, 255, 255, 0.767),rgba(255, 255, 255, 0.664),rgba(255, 255, 255, 0.527),rgba(255, 255, 255, 0.959));
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  
}
.clock .rclock .rclocki{
    font-size: 30px;
    background: linear-gradient(rgb(226, 91, 91),rgb(117, 216, 117),rgba(0, 0, 255, 0.616),rgb(210, 221, 50),rgb(216, 117, 199),rgba(0, 0, 255, 0.616));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px solid black;
   /* animation-name:banana;
    animation-duration:1.9s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;*/
}
@font-face{
    src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: "obavestenja";
}
.clock .tt{
    position:absolute;
    font-family: "obavestenja";
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
    width: 100%;
    height: 30px;
    top: 0;
    border-radius: 3px;
   
    
}