.podaci{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.kpodaci{
    overflow-y: auto;
}
.podaci .dots{
    width: 50px;
    height: 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.podaci .dots .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(116, 116, 116, 0.664);
    backdrop-filter: blur(5px);
    animation-name: loading;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
}
.podaci .dots .dot:nth-child(2){
    animation-delay: 1.1s;
}
.podaci .dots .dot:nth-child(3){
    animation-delay: 2.2s;
}
@keyframes loading{
    0%{
        background: rgba(116, 116, 116, 0.61);
    }
    33%{
        background: rgba(116, 116, 116, 0.747);
    }
    66%{
        background: rgba(116, 116, 116, 0.911);
    }
    100%{
        background: rgb(238, 238, 238);
    }
}
.korisnik{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    transition: all 0.5s;
    border-radius: 3px;
    opacity: 0;
    z-index: -10;
    left: 0;
    background: url(matthew-stephenson-DGCGex-I47A-unsplash.jpg);
}
.korisnik .rel{
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(2px);
}
.korisnik.ac{
    opacity: 1;
    z-index: 5;
}
.backg{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 18px;
    cursor: pointer;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.backg:hover{
    background: rgb(167, 167, 167);
}
.gmail{
    background: black;
    color: white;
}
.profik{
    width: 40%;
    height: 40%;
    flex-direction: column;
    align-items: center;
}